In [1]:
import pandas as pd
df=pd.read_csv("diamonds.csv")
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [2]:
y=df.drop(columns=["x"],inplace=True)
y

In [3]:
h=df.drop(columns=["y"],inplace=True)
h

In [4]:
i=df.drop(columns=["z"],inplace=True)
i

In [5]:
s=df.drop(columns=["Unnamed: 0"],inplace=True)
s

In [6]:
df

       carat        cut color clarity  depth  table  price
0       0.23      Ideal     E     SI2   61.5   55.0    326
1       0.21    Premium     E     SI1   59.8   61.0    326
2       0.23       Good     E     VS1   56.9   65.0    327
3       0.29    Premium     I     VS2   62.4   58.0    334
4       0.31       Good     J     SI2   63.3   58.0    335
...      ...        ...   ...     ...    ...    ...    ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757
53936   0.72       Good     D     SI1   63.1   55.0   2757
53937   0.70  Very Good     D     SI1   62.8   60.0   2757
53938   0.86    Premium     H     SI2   61.0   58.0   2757
53939   0.75      Ideal     D     SI2   62.2   55.0   2757

[53940 rows x 7 columns]

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df["cut"]=le.fit_transform(df["cut"])
df["color"]=le.fit_transform(df["color"])
df["clarity"]=le.fit_transform(df["clarity"])
df

       carat  cut  color  clarity  depth  table  price
0       0.23    2      1        3   61.5   55.0    326
1       0.21    3      1        2   59.8   61.0    326
2       0.23    1      1        4   56.9   65.0    327
3       0.29    3      5        5   62.4   58.0    334
4       0.31    1      6        3   63.3   58.0    335
...      ...  ...    ...      ...    ...    ...    ...
53935   0.72    2      0        2   60.8   57.0   2757
53936   0.72    1      0        2   63.1   55.0   2757
53937   0.70    4      0        2   62.8   60.0   2757
53938   0.86    3      4        3   61.0   58.0   2757
53939   0.75    2      0        3   62.2   55.0   2757

[53940 rows x 7 columns]

In [8]:
df.isnull().sum().sum()

np.int64(0)

In [9]:
x=df.drop(["price"],axis=1)
y=df["price"]
x

       carat  cut  color  clarity  depth  table
0       0.23    2      1        3   61.5   55.0
1       0.21    3      1        2   59.8   61.0
2       0.23    1      1        4   56.9   65.0
3       0.29    3      5        5   62.4   58.0
4       0.31    1      6        3   63.3   58.0
...      ...  ...    ...      ...    ...    ...
53935   0.72    2      0        2   60.8   57.0
53936   0.72    1      0        2   63.1   55.0
53937   0.70    4      0        2   62.8   60.0
53938   0.86    3      4        3   61.0   58.0
53939   0.75    2      0        3   62.2   55.0

[53940 rows x 6 columns]

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)
x

array([[-1.19816781, -0.53809897, -0.93716275, -0.4842643 , -0.17409151,
        -1.09967199],
       [-1.24036129,  0.43494935, -0.93716275, -1.06411727, -1.36073849,
         1.58552871],
       [-1.19816781, -1.51114729, -0.93716275,  0.09558866, -3.38501862,
         3.37566251],
       ...,
       [-0.20662095,  1.40799767, -1.52502147, -1.06411727,  0.73334442,
         1.13799526],
       [ 0.13092691,  0.43494935,  0.8264134 , -0.4842643 , -0.52310533,
         0.24292836],
       [-0.10113725, -0.53809897, -1.52502147, -0.4842643 ,  0.31452784,
        -1.09967199]], shape=(53940, 6))

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=50)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(43152, 6)
(10788, 6)
(43152,)
(10788,)

In [12]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)

In [13]:
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
print(r2_score(y_test,y_pred))
print(mean_squared_error(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.8816138952459991
1904084.3175241048
923.5710521722153